<header>
  <h1>TinyApp</h1>
        Hello <%= user.email %>!
  <% if (user) { %>

    <p>

      <form action="/logout" method="POST" style="margin-bottom: 50px">
        <input type="submit" value="Logout"></form>
    </p>
    <% } %>

</header>
