<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyURL 🔥</title>
</head>
  <body style="font-size:20px; padding:50px;">

    <% include partials/_header %>

    <a href="/urls">Show All</a>

    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="Type your URL here! 👀" style="width: 300px">
      <input type="submit" value="Submit">

      <% if (error) { %>
        <p style="font-size:14px;">
          💥 Invalid entry - please enter valid address. Format: http://www.example.com. 💥
        </p>
      <% } %>
    </form>
    <br />
  </body>
</html>
