<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <a href="/urls">Show All</a>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="Type your URL here! 👀" style="width: 300px">
      <input type="submit" value="Submit">
      <form method="POST" action="/urls/<%= shortURL %>">
        <label for="longURL">Edit URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="Type your new URL here! 👀" style="width: 300px">
      <input type="submit" value="Update">
      </form>

      <% if (error) { %>
        <p style="font-size:14px;">
          💥 Invalid entry - please enter valid address. Format: http://www.example.com. 💥
        </p>
        <% } %>
    </form>
    <br />
  </body>
</html>
