<!DOCTYPE HTML>
<html>
<head>
  <title>Shotened URLS</title>
</head>
  <body>
    <% include partials/_header.ejs %>
    <p>
      <ul>
        <% urls.forEach(function(url) {

          let shortCode = Object.keys(url)[0];
          let longURL = url[shortCode]; %>
          shortURL: <%= shortCode%> =>
          longURL: <%= longURL %><Br />

          <br /><br />
          <form method="POST" action="/urls/<%= shortCode %>/delete">
            <input type="submit" value="Delete"> | <a href="/urls/<%= shortCode %>" class="button">Edit</a>
          </form>
            <%  }); %>
        </li>
      </ul>
    </p>
  <a href="/urls/new">Add New</a>
  </body>
</html>
